// variables
// $color = {
//     dark: #031634,
//     blue_-1:#033649,
//     blue_0:#036564,
//     blue_1:#9DE0AD,
//     terra:#CDB380
//     light:#E8DDCB,
// }
$color = {
    primary: #D14334
    primary-transparent: #d1433485
    light: #FFEAAD
    light_25: lighten(#D14334,90%)
    secundary: #028F76
    secundary-1: #B3E099
    dark: #1C2130
    grey: lighten(#eee,30%)
    }


$p-tareas= .75rem 1.25rem;
////////

*
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
body
    background: $color.dark

.m0
    margin: 0 !important
    
.titulo
    font-size: 2.5rem
    

.app
    padding:0 25px 
    width: 100vw
    display grid
    grid-template-columns: repeat(2, 1fr)
    justify-content: space-between
    grid-gap: 35px

nav 
    background: $color.primary !important 
    margin-bottom: 20px
    color: #000 !important
    .nav-wrapper
        padding: 0 15px 
    a
        color: lighten( $color.light , 30%) !important
.text-dark
    color: $color.dark !important

.containerAppTareas
    position relative
    width: 50vw
.cont-contadores
    display: flex
    justify-content: space-between
    margin: 1rem 0
.contadorTareas
    border:  solid 1px $color.light !important
    background: $color.secundary !important
.tareasTerminadas
    border:  solid 1px $color.light !important
    background: $color.secundary !important
        
    // & .tareasTerminadas

.botonApp
    border:  solid 1px $color.light !important
    background: $color.secundary !important
    color: lighten($color.light, 20%)  !important
    font-weight: 600
    &-red
        background: $color.primary !important

.btnApp-2
    border: solid 1px $color.primary !important

//nueva tareaq styles
.nuevaTarea
    position: relative
    margin 0 !important
    
.input-tareas
    width: 100%
    margin: 2rem 0 !important
    position: relative
    input 
        color #fff
.saveBoton
    position: absolute
    height 100%
    right 0
    top: -5px
    display: flex;
    align-items: center
    
    button
        border: solid 1px #cdb380 !important;
        color: $color.light

//lista de tareas styles 
.tareaList
    border: none !important
    &-tarea
        display: flex
        background: $color.light 
        border: 2px solid $color.blue !important
        padding: $p-tareas
        color: $color.dark !important
        display: flex
        align-items: center
        font-size: 1.3em 
        .circle
            background: $color.blue_1
        span
            color: $color.dark !important


.buttonsTarea
    margin-left: auto
    button
        margin: 0 5px












//////////////////////////////////

.card
    color: $color.dark !important
    // &-title
.linkform
    color: $color.dark !important    
    //list styles

.lista
    color: $color.dark !important    
    &-head
        border: solid 2px $color.light_25 !important
    &-datos:nth-child(odd)
        background: $color.light_25 !important
    &-head , &-datos  
        display: grid
        grid-template-columns: repeat(2,1fr) .5fr 
        grid-template-rows: 1fr
        justify-content: center
        color: $color.dark !important

        span
            text-align: center
            color: $color.dark !important
            
.acciones
    display: flex;
    justify-content: center;
    button 
        font-weight: 800







////////////////////////input styles 

.log-cont
    background: $color.grey;
    position: absolute;
    top: 10vh;
    min-width 25rem
    z-index: 5;
    padding: 10px;
    right: 20px;
    line-height: 1.5 !important;
    box-shadow: 3px 3px 40px 8px rgba(72, 72, 72, 0.32);
    .forgot-text
        text-align: right 
        color grey 
        font-size: .8rem
        span:hover
            text-decoration: underline
            color: #000
            cursor: pointer
    .names-cont
        display: grid
        grid-template-columns: repeat(2 , 1fr)
        grid-gap: 15px
        justify-content: space-between
        margin-top 20px 



.inputs-container
    padding: 10px
    display: grid
    grid-auto-rows: 1fr
    grid-row-gap: 40px
    input  
        margin: 0 !important
        height 2.5rem !important
  //  .input-field

.auth-title
    padding: 10px 
    display: flex 
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 600;
    color: $color.dark

.appInput
    border-bottom:  solid 1px grey !important
    
.appInput:focus
    border-bottom: $color.secundary solid 1px !important
    
// .nav-cont
//     min-height: 12vh
.nave
    display: flex
    align-items: center
    &-logo
        width: 85px
        display: flex
        align-items: center 
    &-menu
        margin-left: auto
        height: 100%;
        display: flex;
        align-items: center;
        & li:nth-child(1n)
            height inherit
            a
                height inherit
                display: flex;
                align-items: center;
                font-weight: 700
