// variables
$color = {
    dark: #031634,
    blue_-1:#033649,
    blue_0:#036564,
    blue_1:#9DE0AD,
    terra:#CDB380
    light:#E8DDCB,
}
$p-tareas= .75rem 1.25rem;
////////

*
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;

*
    color: #000

.m0
    margin: 0 !important
    
.titulo
    font-size: 2.5rem

.app
    padding:0 25px 
    background: $color.dark
    min-height 100vh
    display grid
    grid-template-columns: repeat(2, 1fr)
    justify-content: space-between
    grid-gap: 35px

.containerAppTareas
    position relative
    width: 50vw
.cont-contadores
    display: flex
    justify-content: space-between
    margin: 1rem 0
.contadorTareas
    border:  solid 1px $color.terra!important
    background: $color.blue_-1op !important
.tareasTerminadas
    border:  solid 1px $color.terra!important
    background: $color.blue_-1op !important
        
    // & .tareasTerminadas
        


//nueva tareaq styles
.nuevaTarea
    position: relative
    margin 0 !important
    
.input-tareas
    width: 100%
    margin: 2rem 0 !important
    position: relative
.saveBoton
    position: absolute
    height 100%
    right 0
    top: -5px
    display: flex;
    align-items: center
    
    button
        border: solid 1px #cdb380 !important;
        color: $color.light

//lista de tareas styles 
.tareaList
    border: none !important
    &-tarea
        display: flex
        background: $color.light 
        border: 2px solid $color.blue_0 !important
        padding: $p-tareas
        color: $color.dark !important
        display: flex
        align-items: center
        font-size: 1.3em 
        .circle
            background: $color.blue_1
        span
            color: $color.dark !important


.buttonsTarea
    margin-left: auto
    button
        margin: 0 5px












//////////////////////////////////
.carta
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    background: $color.light

.card
    h4 
        color: #000

.linkform
    color #000

    //list styles

.lista
    &-head , &-datos  
        display: grid
        grid-template-columns: repeat(2,1fr) .5fr 
        grid-template-rows: 1fr
        justify-content: center
        span
            text-align: center
.acciones
    display: flex;
    justify-content: center;
    button 
        font-weight: 800

