// variables
$color = {
    dark: #031634,
    blue_-1:#033649,
    blue_0:#036564,
    blue_1:#9DE0AD,
    terra:#CDB380
    light:#E8DDCB,
}
$p-tareas= .75rem 1.25rem;
////////



// .list-info
//     display: inline-flex;
//     padding: 5px 50px 5px 35px;
//     clip-path: polygon(0% 0%, 85% 0px, 100% 100%, 0% 100%);
//     background: $color.dark
//     opacity .8
//     color: $color.light
//     &-buttom
//         border-radius: 0  0 0 30px;
//     &-top
//         border-radius: 30px 0px 0px 0px;


.app
    padding:0 25px 
    background: $color.dark
    width: 100vw
    height : 100vh

.containerAppTareas
    position relative
    width: 50vw
.cont-contadores
    display: flex
    justify-content: space-between
    margin: 1rem 0
.contadorTareas
    border:  solid 1px $color.terra!important
    background: $color.blue_-1op !important
.tareasTerminadas
    border:  solid 1px $color.terra!important
    background: $color.blue_-1op !important
        
    // & .tareasTerminadas
        



.nuevaTarea
    position: relative
    margin 0 !important
    
.input-tareas
    width: 100%

.saveBoton
    position: absolute
    height 100%
    right 0
    display: flex;
    align-items: center
    top: -5px;

// .tareaList
//     &-tarea
    
.buttonsTarea
    button
        margin: 0 5px

.tarea-div
    background: $color.light
    border: 2px solid $color.blue_0
    border-radius: 7px
    margin: .25vh 0
    color: $color.dark
    display: flex
    align-items: center
    font-size: 1.3em 
    &:hover
        background: lighten($color.light, 30%)
